app = "valence-sdf"
primary_region = "dfw"

[env]
PORT = "8080"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = "off"
auto_start_machines = true
processes = ["app"]

[[http_service.checks]]
interval = "10s"
timeout = "2s"
grace_period = "10s"
method = "GET"
path = "/healthz"

[deploy]
strategy = "rolling"
max_unavailable = 1

[[vm]]
memory = "256mb"
cpus = 1
